fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.1
openai==1.98.0
python-dotenv==0.21.0
httpx==0.28.1
sqlalchemy==2.0.42
asyncpg==0.30.0
pgvector==0.4.1
alembic==1.16.4
greenlet==3.2.3
psycopg2-binary==2.9.10
pandas==2.3.1
openpyxl==3.1.5
python-multipart==0.0.20
langchain==0.3.27
langchain-openai==0.3.28
langsmith==0.4.10
pgvector==0.4.1